@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
	--primaryColor: #ff4b2b;
	--background: #f6f5f7;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: var(--background);
}
